@use '~bootstrap/scss/bootstrap';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.link{
  color: white;
}
.Bookers2{
  color: white;
}
.link-block{
  background-color: #008000;

  margin: 10px;
}
.link-block-2{
  background-color: blue;

  margin: 10px;
}